@keyframes openPreviewAnima {
    100% {
        opacity: 1;
    }
}


section.preview {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 20, 0.671);
    backdrop-filter: blur(20px);
    z-index: 111111;


    display: grid;
    place-content: center;
    opacity: 0;
    animation: openPreviewAnima 300ms linear 1 forwards;

    .wrapper {
        width: calc(100vw - 4rem);
        max-width: 600px;
        height: auto;

        margin: 2rem;
        border-radius: 10px;
        background: var(--color2);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .img-cont {
            aspect-ratio: 2 / 1;
            width: calc(100% - 2rem);
            margin-top: 1rem;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        button {
            margin-bottom: 1rem;
            cursor: pointer;
            padding: .4rem 1rem;
            border: 2px solid white;
            color: white;
            border-radius: 1000px;
            background: transparent;
            letter-spacing: 1px;
            font-size: .9rem;

            &:hover {
                background: white;
                color: var(--color2);
            }

            &:active {
                transform: scale(.9);
            }
        }
    }
}